//Variables

$color-text:#555555;
$color-text-light:#707070;
$blue-color:#7ed1e2;
$bluedark:#4090A1;

$font:'Francois One', sans-serif;
$font-text:'Open Sans', sans-serif;


$background:#111111;
$backNavbar:#1D1F21;
$backSideBar:#eee;
$font-style:iniherit;
$font-text:'Open Sans', sans-serif;
$navbar-color:#777;
$navbar-black:#080808;
$width-tablets:768px;
$width-mobiles:480px;